.experience {
    border: 4px solid white;
    border-radius: 50%;
    color: white;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
}

.experience::after {
    content: '';
    border: 4px solid white;
    height: 120px;
    left: 50%;
    position: absolute;
    top: 70px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 5px;
}

.insituExp {
    border: 4px solid white;
    border-radius: 50%;
    color: white;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 200px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
}

.insituExp::after {
    content: '';
    border: 4px solid white;
    height: 120px;
    left: 50%;
    position: absolute;
    top: 52px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 5px;
}

.next {
    border: 4px solid white;
    border-radius: 50%;
    color: white;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 380px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
}

@media only screen and (max-width: 768px) {
    .experience {
        height: 47px;
        left: 0;
        width: 47px;
    }

    .experience::after {
        border: 3px solid white;

        left: 20;
        top: 50px;
        width: 3px;
    }

    .insituExp {
        height: 47px;
        left: 0;
        position: absolute;
        top: 180px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 47px;
    }

    .insituExp::after {
        border: 3px solid white;
        left: 50%;
        top: 50px;
        width: 3px;
    }

    .next {
        height: 47px;
        left: 0;
        position: absolute;
        top: 360px;
        width: 47px;
    }
}