#soon>path {
    stroke-dasharray: 1616.58837890625;
    stroke-dashoffset: 1616.58837890625;
    animation: name-animate 20s ease forwards;

}

#coming {
    animation: fill-animate-1 20s ease forwards;
}


@keyframes name-animate {

    to {
        stroke-dashoffset: 0;
    }
}




@keyframes fill-animate-1 {
    from {
        fill: transparent;
    }

    to {
        fill: blue;
    }
}